body {
    background-color: #fff3df;
    min-width: 476px;
    width: 95%;
    margin: auto;
    #margin-top: 0.5em;
    font-family: Arial, Helvetica;
    font-size: 1.2em;
}

a:link {
    font-weight: bold;
}

.wideline {
    width: 100%;
}

.navbar {
    position: sticky;
    #margin-top: 0.5em;
    background-color: #fff3df;
    top: 0;
}

.tab {
    margin-left: 2em;
}

.up {
    float: right;
}

.warn {
    color: #ff0000;
    font-weight: bold;
}

.image {
    float: right;
    width: 40%;
    padding-left: 15px;
}

.code {
    margin-left: 2em;
    font-family: courier;
    font-size: 0.9em;
    white-space:pre-wrap;
}

.right-half {
    float: right;
    width: 49.5%;
    padding-left: 15px;
}
.double {
    width: 49.5%;
}

.triple {
    width: 32%;
}

.small {
    float: right;
    width: 20%;
    padding-left: 15px;
}

.tiny {
    float: right;
    width: 12%;
    padding-left: 15px;
}

@media (max-width: 644px) {
  .image {
    float: left;
    width: 98%;
    padding-left: 5px;
  }
  .right-half {
    width: 98%;
    padding-right: 5px;
  }
  .double {
      width: 98%;
      padding-left: 5px;
      padding-right: 5px;
  }
  .triple {
      width: 98%;
  }
  .small {
    width: 50%;
    padding-top: 10px;
  }
  .tiny {
    width: 20%;
  }
}
