body {
  background-color: #fff3df;
  width: 1060pt;
  margin: auto;
  font-family: Arial, Helvetica;
  font-size: 12pt;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  position: relative;
  left: 1px;
}

#note {
  color: #7f0000;
  text-align: center;
}

div.leftnote {
  color: #7f0000;
  font-size: 9pt;
  position: relative;
  top: 2px;
  left: 45%;
  width: 330pt;
  height: 43pt;
}

div.rightnote {
  color: #7f0000;
  font-size: 9pt;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 140pt;
  height: 40pt;
}

div.effLeftnote {
  color: #7f0000;
  font-size: 9pt;
  position: relative;
  top: 2px;
  left: 25%;
  width: 330pt;
  height: 43pt;
}

div.effRightnote {
  color: #7f0000;
  font-size: 9pt;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 140pt;
  height: 40pt;
}

div.comment {
  color: #7f0000;
  font-size: 10pt;
}


thead th:nth-child(1) {
  width: 19%;
}

thead th:nth-child(2) {
  width: 7%;
}

thead th:nth-child(3) {
  width: 3.5%;
}

thead th:nth-child(4) {
  width: 7%;
}

thead th:nth-child(5) {
  width: 6%;
}

thead th:nth-child(6) {
  width: 6.5%;
}

thead th:nth-child(7) {
  width: 5.5%;
}

thead th:nth-child(8) {
  width: 5.5%;
}

thead th:nth-child(9) {
  width: 4%;
}

thead th:nth-child(10) {
  width: 6.5%;
}

td {
    border: 1px solid blue;
    text-align: center;
}

div.titles {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100.1%; /* slightly oversize to hide right table border */
  background-color: #fff3df;
  color: black;
  text-align: center;
}

a:link {
    font-weight: bold;
}
